Label, CheckBox, RadioButton {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #888;
}

.subtitle {
	-fx-font-size: 17px;
    -fx-text-fill: #218ee4;
}

.status {
    -fx-text-fill: #16a;
}

.key {
    -fx-text-fill: #444;
}

.value {
    -fx-text-fill: #16a;
}

.dialog_title {
	-fx-font-size: 17px;
    -fx-text-fill: #444;
}

.dialog_content {
	
}